@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirLTStd-Roman.otf);
}
@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirLTStd-Black.otf);
  font-weight: bold;
}
@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirLTStd-Book.otf);
  font-weight: light;
}
body {
	font-family: Avenir, Arial, Times New Roman, sans-serif;
	background-color: #EAEAEA;
	overflow-y: hidden;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #888;
}
h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
p {
	margin: 0;
	padding: 0;
}
header {
	display: inline-flex;
	justify-content: space-between;
	height: 80px;
	min-width: 100%;
	background-color: white;
}
.triangle {
	width: 50px;
	height: 100%;
}
.triangle polygon {
	fill: black;
	stroke: none;
}
.logo-wrap {
	display: flex;
}
.logo {
	color: #FFD700;
	background-color: black;
	text-decoration: underline;
	font-size: 4em;
	padding: 0 20px;
	margin: 0;
	font-weight: lighter;
}
.placeholder {
	height: 100%;
	width: auto;
}
.login-name {
	display: flex;
	border-left: 2px solid #999999;
	width: 200px;
	height: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}
header p {
	padding-bottom: 10px;
}
.content-box {
	background-color: white;
	border-radius: 10px;
	min-height: 0;
}
.scrollable {
	height: calc(100vh - 157px);
	overflow-y: scroll;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}
.scrollable::-webkit-scrollbar {
	display: none;
} 




.wrapper {
	display: grid;
	grid-template-columns: 420px auto 210px;
	grid-column-gap: 30px;
	margin: 20px 0;
	height: calc(100vh - 120px);
}

.ticket-list {
	padding: 0 0 10px 20px;
	margin-top: -5px;
	height: 100%;
}
.ticket-list-p {
	font-size: 1.5em;
	margin-bottom: 10px;
}
.ticket {
	padding: 10px 15px;
	margin-bottom: 20px;
}
.ticket-top {
	display: flex;
	justify-content: space-between;
}
.ticket-list-title {
	margin: 40px 0 10px 0;
}
.ticket-list-title p {
	text-align: center;
}
.closed {
	background-color: red;
}
.open {
	background-color: lime;
}
.selected {
	background-color: #FFD700;
}
.status-circle {
	border: 1px solid black;
	border-radius: 100%;
	margin-bottom: 20px;
	width: 27px;
	height: 27px;
}



.create-ticket {
	height: calc(100% - 76px);
	padding: 20px 30px 20px 30px;
}
.create-wrapper h2 {
	font-size: 2em;
	margin-left: 30px;
}
form {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#title, textarea {
	box-sizing: border-box;
	width: 100%;
	font-size: 3em;
}
#title {
	margin-bottom: 40px;
}
textarea {
	resize: none;
	height: calc(100% - 210px);
}
.button {
	width: 140px;
	height: 37px;
	margin-top: 20px;
	border-radius: 10px;
	background: #FFD700;
	font-weight: lighter;
	align-self: flex-end; 
}
.button:focus {
	outline: none;
}

nav {
	margin-right: 20px;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
nav h2 {
	width: 80%;
	margin: 0 auto 0 auto;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}
.nav-link-wrapper a {
	display: block;
	width: 70%;
	margin: 20px auto 0 auto;
	padding-bottom: 10px; 
	border-bottom: 1px solid black;
	
}
.logout {
	display: block;
	margin: 0;
}
.nav-logout-line {
	padding-top: 15px;
	width: 80%;
	border-top: 1px solid black;
	margin: 0 auto;
}

@media only screen and (max-width: 1392px) {

header {
	height: 60px;
	
	
}
.logo-wrap {
	min-width: 557px;
}
.logo {
	font-size: 3em;
}
.login-name {
	min-width: 202px;
}
.wrapper {
	grid-template-columns: 300px auto 210px;
	height: calc(100vh - 100px)
}
.ticket {
	font-size: 0.8em;
}
.ticket-list-title {
	font-size: 1em;
}
.status-circle {
	width: 20px;
	height: 20px;
}
.active-ticket, .create-ticket {
	min-width: 575px;
}
}


@media only screen and (max-width: 1138px) {
	.placeholder {
		display: none;
	}
}